@use "/styles/variables" as *;

.menuIcon {
	@include mq-desktop {
		display: none;
	}

	display: block;

	margin-right: 1rem;
	position: relative;
	z-index: 2;

	width: 30px;
	height: 30px;

	cursor: pointer;

	> * {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

@mixin bar {
	height: 5px;
	width: 30px;
	background-color: $color-secondary;
	border-radius: 2px;
	transform-origin: center;
}

.closed {
	@include bar;
	opacity: 100%;
	transition: all 0ms 250ms;

	&::before {
		content: "";
		@include bar;
		position: absolute;
		left: 0;
		bottom: 10px;
		transition: bottom 250ms 250ms ease-in-out, transform 250ms ease-in-out;
	}

	&::after {
		content: "";
		@include bar;
		position: absolute;
		left: 0;
		bottom: -10px;
		transition: bottom 250ms 250ms ease-in-out, transform 250ms ease-in-out;
	}
}

.open {
	@include bar;
	transition: all 0ms 250ms;
	background-color: rgba($color-secondary, 0);

	&::before {
		content: "";

		@include bar;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 250ms ease-in-out, transform 250ms 250ms ease-in-out;
	}

	&::after {
		content: "";

		@include bar;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: rotate(45deg);
		transition: bottom 250ms ease-in-out, transform 250ms 250ms ease-in-out;
	}
}
