@use "/styles/colors" as *;
@use "/styles/mixins" as *;

.logo {
	cursor: pointer;
}

.logoText {
	font-weight: 600;
	font-size: 1.5rem;
	color: $color-secondary;
}

.mobile {
	display: block;
	@include mq-desktop {
		display: none;
	}
}

.desktop {
	display: none;

	@include mq-desktop {
		display: block;
	}

	&Content {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}
