@use "/styles/variables" as *;

.header {
	background-color: white;
	height: $headerHeight-mobile;
	width: 100%;

	display: flex;
	align-items: center;

	position: relative;
	z-index: 3;

	box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.3);

	@include mq-desktop {
		height: $headerHeight-desktop;
	}

	&Content {
		@include restrict-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $padding-section;
	}
}

.btn {
	display: none;
	@include mq-desktop {
		display: inline-flex;
		text-transform: capitalize;
		font-size: $fontSize-navigation;
	}
}
