@use "/styles/variables" as *;

.contentContainer {
	@include restrict-width;
	overflow: hidden;
	padding: 3rem $padding-section;
	position: relative;
}

.cardContent {
	display: flex;
	justify-content: center;

	align-items: center;
	flex-wrap: wrap;

	gap: 2rem;

	@include mq-custom(83.3125rem) {
		justify-content: space-between;
	}
}

.heading {
	font-size: 2.25rem;
	margin-bottom: 1em;
	text-align: center;
	@include mq-desktop {
		font-size: 3rem;
		text-align: left;
	}
}
