@use "/styles/variables" as *;

.contentContainer {
	@include restrict-width;
	overflow: hidden;
	padding: 3rem $padding-section;
	position: relative;
}

.cardContent {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	gap: 2rem;

	@include mq-desktop {
		justify-content: flex-start;
	}
}

.heading {
	font-size: 2.25rem;
	margin-bottom: 1em;
	text-align: center;
	@include mq-desktop {
		font-size: 3rem;
		text-align: left;
	}
}
