@use "/styles/variables" as *;

.section {
	background-color: $color-grayBackground;
	width: 100vw;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.imageContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max(175rem, 100vw);
	transform-origin: center;
}
