@use "/styles/variables" as *;

.contents {
	padding: 3rem 0;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	justify-content: center;
	@include restrict-width;
}

.section {
	background-color: $color-grayBackground;
	padding: $padding-section;
	min-height: 75rem;
}

.header {
	@include restrict-width;
	h1 {
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 1.75rem;
	}
	p {
		font-size: small;
		text-align: center;
	}
	@include mq-desktop {
		h1 {
			text-align: left;
			font-size: 2rem;
		}
		p {
			text-align: left;
			font-size: medium;
		}
	}
}

.pagination {
	width: 100%;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	ul {
		justify-content: center;
	}
	@include mq-desktop {
		flex-direction: row;
		ul {
			justify-content: flex-start;
		}
	}
}

.pageLoad {
	width: min-content;
	margin: 0 auto;
}
