@use "/styles/variables" as *;

.item {
	display: flex;
	gap: 2rem;

	> *:last-child {
		margin-left: auto;
	}
}

.total {
	font-weight: 600;
	margin: 1em 0;
}

.summary {
	border-radius: 0.625rem;
	border-width: 0.125rem;
	border-color: gray;
}

.stripe {
	min-height: 20rem;
	width: 100%;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.alternateLink {
	cursor: pointer;
	margin-bottom: 2rem;
	text-decoration: underline;

	&:hover {
		color: $color-primary;
	}
}
