@use "/styles/variables" as *;

.btn {
	padding: 0.75em 1.5em;
	font-weight: $fontWeight-regular;
	background-color: $color_primary;
	border-radius: 0.5rem;
	display: block;
	width: fit-content;
	margin: 1rem 0 1rem 0;
	transition: all 200ms ease-in-out;
	transform: translate(0);
	color: white;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
	font-size: 1rem;
	@include mq-desktop {
		font-size: 1.3125rem;
	}

	cursor: pointer;
	pointer-events: all;

	&:hover,
	&:focus {
		transform: translateY(-2px);
		box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
	}
}
