@use "/styles/variables" as *;

.card {
	width: min(25rem, 87vw);
	height: 40rem;
	border-radius: 0.625rem;
	overflow: hidden;
	position: relative;

	h1 {
		font-size: 1.75rem;
		margin: 0;
	}

	p {
		margin: 0;
	}

	&Text {
		padding: $padding-section;
		display: flex;
		height: 50%;

		gap: 1em;
		flex-direction: column;
		> *:last-child {
			margin-top: auto;
		}
	}
}

.image {
	width: 100%;
	height: 50%;
	position: relative;
}

.date {
	color: gray;
}
