@use "/styles/variables" as *;

.card {
	width: min(25rem, 95vw);
	height: 30rem;
	border-radius: 0.625rem;
	overflow: hidden;
	position: relative;

	h1 {
		font-size: 1.75rem;
		margin-bottom: 1em;
	}

	p {
		margin-bottom: 1em;
	}

	&Text {
		padding: $padding-section;
	}
}

.image {
	width: 100%;
	height: 50%;
	position: relative;
}

.date {
	color: gray;
}
