@use "/styles//variables" as *;

.card {
	background-color: white;
	border-radius: 0.625rem;
	width: 21.4375rem;
	height: 38rem;
	padding: 1.5rem;
	z-index: 2;
	box-shadow: $boxShadow-card;

	&Content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 100%;
	}

	cursor: pointer;

	@include mq-desktop {
		width: 25.3125rem;
		height: 44.875rem;
	}

	&Image {
		border-radius: 0.625rem;
		aspect-ratio: 1;
		overflow: hidden;
	}

	h3 {
		font-size: 1.6875rem;
		@include mq-desktop {
			font-size: 2rem;
		}
	}

	&Action {
		font-size: 1.5rem;
		display: flex;
		gap: 1.5rem;
		align-items: center;
		color: $color_highContrast;
		margin-top: auto;
	}
}
