@use "/styles/variables" as *;

.section {
	background-color: $color-grayBackground;
}

.content {
	@include restrict-width;
	padding: $padding-section;

	h1,
	h2 {
		padding: 1em 0;
	}

	h1 {
		font-size: 2rem;
		@include mq-desktop {
			font-size: 2.5rem;
		}
	}
	h2 {
		font-size: 1.5rem;
		@include mq-desktop {
			font-size: 1.825rem;
		}
	}
	h3,
	h4 {
		text-align: center;
		@include mq-desktop {
			text-align: left;
		}
	}

	h3 {
		font-size: 1.35rem;
	}

	h4 {
		color: $color-darkNavy;
		font-weight: $fontWeight-regular;
	}

	ul {
		padding: 2rem 1rem;
		li {
			margin-bottom: 0.5rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	p,
	a,
	ul {
		font-size: 1.1rem;
		font-family: "Inter", sans-serif;
		font-weight: 500;
		@include mq-desktop {
			font-size: 1.25rem;
		}
		margin-bottom: 1em;
	}
}
