@use "/styles/variables" as *;

.title {
	text-transform: capitalize;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 0.5em;
}

.card {
	background-color: white;
	border-radius: 0.625rem;
	box-shadow: $boxShadow-card;
	padding: 1rem;
	width: 19.5rem;
	height: 33rem;
	cursor: pointer;
}

.featured {
	background-color: $color-softPurple;
}

.image {
	border-radius: 0.625rem;
	overflow: hidden;
	aspect-ratio: 1;
}

.content {
	display: flex;
	flex-direction: column;

	ul {
		list-style: none;
		font-size: 1rem;
		margin-top: 1em;
	}
	p {
		font-size: 0.9rem;
	}
	.org {
		margin-top: auto;
		margin-bottom: 0;
	}
	height: 100%;
}
