@use "/styles/variables" as *;

.card {
	background-color: white;
	border-radius: 0.625rem;
	overflow: hidden;
	max-width: 21rem;
	margin: 1rem auto;
	box-shadow: $boxShadow-card;

	@include mq-desktop {
		max-width: 62.5rem;
		max-height: 16rem;
		margin: 1.5rem 0;
	}
}

.content {
	display: flex;
	flex-direction: column;
	@include mq-desktop {
		flex-direction: row;
	}
}

.image {
	max-width: 21rem;
}

.text {
	text-align: center;
	margin: 1rem;
	h4 {
		font-weight: $fontWeight-regular;
		color: gray;
		font-size: 1.25rem;
	}
	p {
		font-size: 0.825rem;
		margin-top: 1em;
	}

	@include mq-desktop {
		text-align: left;
		p {
			font-size: 1rem;
		}
		h4 {
			font-size: 1.375rem;
		}
	}
}
