@use "/styles/variables" as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	&Elements {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	flex-grow: 1;
}

.card {
	position: relative;
	height: 35rem;
	padding: $padding-section;
	p {
		margin-bottom: 1em;
		text-align: center;

		font-size: 1rem;

		@include mq-tablet {
			font-size: 1.1rem;
		}
		@include mq-desktop {
			font-size: 1.2rem;
		}
	}
}
.button {
	width: 100%;
	margin-top: auto;
	margin-bottom: 0;
	> * {
		width: 100%;
	}
}

.loading {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sent {
	a {
		cursor: pointer;
		color: $color-highContrast;
		&:hover {
			text-decoration: underline;
		}
	}
}
